clothing-dataset
clothing-classifier/clothing-dataset-small
clothing-classifier/pretrained_models/resnet50
clothing-classifier/clothing-dataset-small/*
clothing-classifier/exp/pytorch/mobilenet
clothing-classifier/exp/pytorch/mobilenet_v3
clothing-classifier/exp/pytorch/mobilenet_v3_small/wandb
clothing-classifier/exp/pytorch/resnet50/resnet50/*
clothing-classifier/exp/pytorch/resnet50/wandb
clothing-classifier/exp/test
clothing-classifier/exp/pytorch/wandb
clothing-classifier/wandb
clothing-classifier/decode_pytorch.py
clothing-classifier/model.log
clothing-classifier/train_simclr.py
clothing-classifier/runs
YOLOX-paper/YOLOX
YOLOX-paper/YOLOX/*
YOLOX-paper/COCO
YOLOX-paper/models
YOLOX-paper/annotations_trainval2017.zip
YOLOX-paper/val2017.zip